<ion-header [translucent]="true">
  <ion-toolbar color="medium" mode="ios">
    <ion-buttons slot="start" routerLink="/users">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" color="medium" routerLink="/notification">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-button>
    <ion-title>
      Frederico Manuel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">respond</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="agaknaik">
    <ion-card-content class="tengah_atasberjarak">
      <div id="frame">
        <ion-avatar labelPlacement="end">
          <img alt="Silhouette of a person's head" src="https://my.ubaya.ac.id/img/mhs/160721056_l.jpg" />
        </ion-avatar>
      </div>
      <br>
      Frederico Manuel <br> 141 Likes | 1 Cerbungs Created <br> Latest post: 16/01/2023 <br>
      <ion-button size="default" fill="solid" color="primary">Following</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains"
            src="https://media.japanesestation.com/images/750x422/2020/05/14/19129-gunung-fuji.jpg" />
        </ion-thumbnail>
        <ion-label>Gunung Fuji<br> Last update: 28/08/2022<br> <ion-icon name="thumbs-up-sharp"></ion-icon>
          85</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>